<!DOCTYPE html>
<html ng-app='AngMtr'>
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/angular-material/angular-material.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body style="text-align:center">
<!-- <img class="img img-responsive" height="750" style="padding:0 5px;margin-bottom:-200;"id="bg"src="/img/los_angeles-3840x2160.jpg"/> -->
<ui-view></ui-view>
							<!-- Lib -->
	<script src="/angular/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/angular-material/angular-material.min.js"></script>
	<script src="/angular-aria/angular-aria.min.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>


							<!-- Modules /controllers-->
	<script src="/javascript/app.js"></script>
	<script src="/javascript/controllers/MainAngController.js"></script>
	<script src="/javascript/controllers/AddCarController.js"></script>
</body>
</html>
