<div class="row">

      <!-- Splash Section -->
  <div class="col-md-12" style="margin-top:-120px;">
    <h1 class="text-center" id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
      M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
    </a></h1>
    <p>
      <strong style="color:#00f0d2">&copy 2016 Phoja Unlimited LLC</strong>
    </p>
  </div>
</div>
<div class="row" style="margin-bottom:-500px;">
  <div class="col-md-12">
    <h2 id="title"class="text-center" style="margin-top:-10px;">
      <span style="color:#00f0d2;"><</span> Front End Developer <span style="color:#00f0d2;">/</span> Designer <span style="color:#00f0d2;">></span>
    </h2>
  </div>
</div>
<!-- social links -->
<div class="col-md-12" style="margin-top:-100px;">
  <h3 class="text-center text-info">
    <a  href="https://github.com/M-Doja">
      <img style='margin:25px;' height='75px' src='/img/github-social.png' target="_blank" alt="Github-icon">
    </a>
    <a  href="https://www.linkedin.com/in/micahdunson">
      <img style='margin:25px;' height='90px' src='/img/linkedIn-social.png'target="_blank"  alt="LinkedIn-icon">
    </a>
  </h3>
</div>

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
          <div ui-sref='Skills' style="margin-top:5px;text-decoration:none;">
            <div style="">
              <img  style="border-radius:10%; margin-left:-30px;margin-top:-100px;" height="215"src="/img/photo (2)test.jpg"/>
              <h4 style="color:white"><b>I'm a full-stack JavaScript<br> developer</h4>
              <p style="color:white;font-size:18px;background-color:black;width:355px;text-align:center;margin-left:10px;padding-bottom:5px;">I enjoy a hiking, coding, music and<br> using new technologies. I'm always up for a challenge and love new projects. Let me help bring your ideas to life!</p>
            </b></div>
            <span id="skills">
              <h3  style="font-size:20px;color:#00f0d2;height:425px;width:375px;background-color:rgba(0,0,0,0.3);border:10px solid white;position:relative;border-radius:10%;padding-top:20px;margin-top:-428px;">
              </h3>
            </span>
          </div>
				</div>
        <!-- Resume -->
				<div class="col-md-4" >
          <p style="color:white;font-size:32px;margin-right:25px;margin-top:-20px;"><b>Check out my<br> resume</b></p>
          <div style="height:110px;width:110px;border-radius:50%;background-color:rgba(255,255,255,0.3);border:5px solid white;margin-left:150px;">
            <img style="margin-top:15px;"height="60"src='/img/dnldRes.png'/>
          </div>
				</div>
        <!-- Contact form and resume -->
				<div class="col-md-4">
          <form class="form-inline " style="background-color:rgba(255,255,255,0.4);border-radius:10%;border:5px solid white;padding: 20px 0;width:300px;margin-top:-80px;margin-left:30px">
									<img style='margin-right:10px;' height="30"src='/img/user_32.svg'/><br>
										<!-- Name -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:black;font-size:28px">Micah Dunson</span><br><br>
                  <img style='margin-right:10px;' height="30"src='/img/mail_32.svg'/><br>
										<!-- Email -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:white;font-size:17px"><a style='text-decoration:none;color:black' href="mailto:DOJADEVELOPER@GMAIL.COM"><strong>DOJADEVELOPER@GMAIL.COM</strong></a></span><br><br>
                  <img style='margin-right:10px;' height="30"src='/img/phone_32.svg'/><br>
										<!-- Phone -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:black;font-size:28px">(805) 910-9378</span>
								</form>
                <!-- Resume -->

				</div>
			</div>
		</div>
	</div>
</div>
