<div class="container-fluid">
<div class="row">
      <!-- Splash Section -->
  <div class="col-md-12" style="margin-top:-120px;">
    <h1 class="text-center" id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
      M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
    </a></h1>
    <p style="">
      <strong style="color:rgb(68,186,250);margin-left:325px;">&copy 2016 Phoja Unlimited LLC</strong>
    </p>
  </div>
</div>
<div class="row" style="margin-bottom:-120px;">
  <div class="col-md-12">
    <h2 id="title"class="text-center" style="margin-top:-10px;">
      <span style="color:rgb(68,186,250)"><</span> Front End Developer <span style="color:rgb(68,186,250);">/</span> Designer <span style="color:rgb(68,186,250);">></span>
    </h2>
  </div>
</div>
<!-- social links -->



	<!-- About Me Section -->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
          <div style="margin-top:5px;text-decoration:none;">
            <div style="margin-top:25px;margin-bottom/"> <!-- DO NOT GO LOWER THAN THIS MARGIN -->
              <img style="border-radius:10%;border:10px rgba(0,0,0,0.6) solid; " height="215"src="/img/photo (2)test.jpg"/>
              <h2 class='animated  slideInLeft 'style="color:white;background-color:rgba(0,0,0,0.6);border:10px rgba(255,255,255,0.6) solid;padding:5px;animation-duration: 3s;animation-delay: 1s;"><b>I'm a full-stack JavaScript<br> developer</h2>
              <h4 class='animated  slideInRight' style="color:black;background-color:rgba(255,255,255,0.6);margin-top:-11px;margin-bottom:20px;padding:5px;animation-duration: 3s;animation-delay: 1s;">I enjoy a hiking, coding, music and<br> using new technologies. I'm always up for a challenge and love new projects. Let me help bring your ideas to life!</h4>
              </b>
            </div>
            <!-- RESUME DOWNLOAD SECTION -->
            <a  style="color:white;text-decoration:none;"href='https://od.lk/d/MV8xMjUyNjEzNDNf/Developer%20Resume.doc'>
              <div  style="margin-left:50px;height:110px;width:110px;border-radius:50%;background-color:rgba(255,255,255,0.6);border:10px solid rgba(0,0,0,0.6);background-image:url('/img/dnldRes.png');background-size:70px;background-repeat:no-repeat;background-position:center;margin-top:-5px;">
                  <h2  style="color:white;background-color:rgba(0,0,0,0.8);margin-top:130px;width:175px;">
                    <b  ng-mouseenter="vm.turnRed()"ng-mouseleave="vm.turnWhite()"> Download  Resume</b>
                  </h2>
              </div>
            </a>
          </div>

				</div>



        <!-- Resume & Links-->
				<div class="col-md-4" style='margin-bottom:20px;margin-top:120px;' >
          <h3 class="text-center text-info">
            <a  href="https://github.com/M-Doja">
              <img style='margin:25px;' height='100px' src='/img/github-social.png' target="_blank" alt="Github-icon">
            </a>
            <a  href="https://www.linkedin.com/in/micahdunson">
              <img style='margin:25px;' height='120px' src='/img/linkedIn-social.png'target="_blank"  alt="LinkedIn-icon">
            </a>
          </h3>
				</div>
        <!-- Contact form and resume -->
				<div class="col-md-4 animated  flipInY" style="margin:60px auto 20px;animation-duration: 5s;animation-delay: 1s;">
          <form class="form-inline " style="background-color:rgba(255,255,255,0.6);border-radius:10%;border:10px solid rgba(0,0,0,0.6);padding: 10px 0;width:300px;margin:0 auto">
									<img style='margin-right:10px;' height="30"src='/img/user_32.svg'/><br>
										<!-- Name -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:black;font-size:28px"><b>Micah Dunson</b></span><br><br>
                  <img style='margin-right:10px;' height="30"src='/img/mail_32.svg'/><br>
										<!-- Email -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:white;font-size:17px"><a style='text-decoration:none;color:black' href="mailto:DOJADEVELOPER@GMAIL.COM"><b>DOJADEVELOPER@GMAIL.COM</b></a></span><br><br>
                  <img style='margin-right:10px;' height="30"src='/img/phone_32.svg'/><br>
										<!-- Phone -->
									<span style="margin-bottom:5px;font-family:sans-serif;color:black;font-size:28px"><b>(805) 910-9378</b></span>
								</form>
                <!-- Resume -->

				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
