<h2>Contact</h2>
<div>

  <img  class="img-responsive" style="min-height:750px;margin-bottom:-1000px;"height="750" id="bg"src="/img/los_angeles-3840x2160.jpg"/>
  <h1 style="color:white;text-align:center;font-size:5.5em;margin-top:428px;margin-bottom:-10px;"><b>Micah Dunson</b></h1>
  <p style="text-align:center;margin-left:370px;font-size:15px;color:white;;">&copy 2016 Phoja Unlimited LLC</p>
  <p style="color:white;font-size:30px;"><b>< Front End Developer > </b></p>
  <nav style="margin-top:-5px; text-align:center;padding:10px;font-size:1.5em;">
    <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Home"><b>Home</b></md-button>
    <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Skills"><b>Skills</b></md-button>
    <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Projects"><b>Projects</b></md-button>
    <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Contact"><b>Contact</b></md-button>
    <!-- <a href="#" class="btn btn-primary btn-lg">Home</a>
    <a href="#skills" class="btn btn-success btn-lg">About</a> -->
  </nav>

</div>
