<div ng-controller="AddCarController as vm" style="background-image:url('/img/Jungle_1024x576.');">
  <div layout="row" class="colorNested">
    <div>

      <img  class="img-responsive" style="min-height:750px;"height="750" style="padding:0 5px;"id="bg"src="/img/los_angeles-3840x2160.jpg"/>
      <h1 style="color:white;text-align:center;font-size:5.5em;margin-top:-608px"><b>Micah Dunson</b></h1>
      <nav style="margin-top:-5px; text-align:center;padding:10px;font-size:1.5em">
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' href="#"><b>Home</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' href="#"><b>Skills</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' href="#"><b>Projects</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' href="#"><b>Contacts</b></md-button>
      </nav>

    </div>
    <!-- <div flex='60'>
      <h1>The Car Dealership Database</h1>
      <div style="text-align:center">
        <md-content>
          <md-button class="md-raised md-primary" ui-sref="AddCar"> Add New Car</md-button>
        </md-content>
      </div>
  <div ng-repeat="NewCar in vm.dealership">
    <md-card>
      <img ng-src="{{NewCar.pic}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Icon action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="form-inline" >
          <h3> {{NewCar.make}} </h3>
          <h3> {{NewCar.model}} </h3>
          <h3> {{NewCar.year}} </h3>
          <md-button type="button" class="md-raised md-warn" ng-click='vm.deleteCar(NewCar._id)'>Delete</md-button>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div> -->
</div>
</div>
</div>
