<divng-controller="MainAngController as vm" style="margin-bottom:0;">
  <div class="container-fluid">
  	<div class="row">
      <!-- social links -->
  		<div class="col-md-12 animated  zoomIn" style="margin-top:-20px;animation-duration: 5s;animation-delay: 1s;">
  			<span class="text-center text-info">
          <a href="https://github.com/M-Doja">
            <img style='margin:25px;text-decoration:none;' height='75px' src='/img/github-social.png' target="_blank" alt="Github-icon">
          </a>
          <a href="https://www.linkedin.com/in/micahdunson">
            <img style='margin:25px;text-decoration:none;' height='90px' src='/img/linkedIn-social.png'target="_blank"  alt="LinkedIn-icon">
          </a>
  			</span>
  		</div>
  	</div>
    <!-- Splash Section -->
  	<div class="row">
  		<div id='red' class="col-md-12">
  			<h1 class='animated  zoomIn 'style="margin-top:80px;animation-duration: 5s;animation-delay: 1s;"id="myName" >
  				M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
  			</h1>
        <p style="">
          <strong class='animated  zoomIn 'style="color:rgb(68,186,250);margin-left:30px;animation-duration: 5s;animation-delay: 1s;">&copy 2016 Phoja Unlimited LLC</strong>
        </p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12"style="margin-bottom:20px;">
  			<h2 id="title" class='animated  zoomIn 'style="animation-duration: 5s;animation-delay: 1s;">
  				<span style="color:rgb(68,186,250);"><</span> Front End Developer <span style="color:rgb(68,186,250);">/</span> Designer <span style="color:rgb(68,186,250);">></span>
  			</h2>
  		</div>
  	</div>
    <!-- Nav Links -->
    <div class="row">
  		<div class="col-md-12 animated  zoomIn" style="text-align:center;margin-bottom:40px;margin-top:-145px;animation-duration: 5s;animation-delay: 1s;">
  			<div class="row">

          <div class="col-md-4" >
  				<div  style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Skills' style="text-decoration:none;">
              <span  id="skills" style="text-align:center;">

                <h4 style="margin-top:-10px;margin-bottom:60px;color:white">Skills</h4>

                <img height="90" style="margin-left:-45px;position:absolute;margin-top:-50px;z-index: 1;"src="/img/skills.png"/>
              </span>
            </a>
  				</div>
        </div>
          <div class="col-md-4">
          <div    style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Projects' style="text-decoration:none;">
              <span id="projects" style="text-align:center;">
                <h4 style="margin-top:-10px;margin-bottom:60px;color:white">Projects</h4>
                <img height="90" style="margin-left:-45px;position:absolute;margin-top:-50px;z-index: 1;"src="/img/projects.svg"/>
              </span>
            </a>
  				</div>
        </div>
          <div class="col-md-4">
          <div style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Contact' style="text-decoration:none;">
              <span id="contact" style="text-align:center;">
                <h4 style="margin-top:-10px;margin-bottom:60px;color:white">Contact</h4>
                <img height="90" style="margin-left:-45px;position:absolute;margin-top:-50px;z-index: 1;"src="/img/contact.png"/>
              </span>
            </a>
  				</div>
        </div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
