<div ng-controller="AddCarController as vm" style="margin-bottom:0;">
  <div layout="row" class="colorNested">
    <div>

      <img  class="img-responsive" style="min-height:750px;margin-bottom:-1000px;"height="750" id="bg"src="/img/los_angeles-3840x2160.jpg"/>
      <h1 style="color:white;text-align:center;font-size:5.5em;margin-top:380px;margin-bottom:-10px;"><b>Micah Dunson</b></h1>
      <p style="text-align:center;margin-left:370px;font-size:15px;color:white;">&copy 2016 Phoja Unlimited LLC</p>
      <p style="color:white;font-size:30px;"><b style="color:#00f0d2;">< Front End Developer > </b></p>
      <!-- <nav style="margin-top:-5px; text-align:center;padding:10px;font-size:1.5em;">
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Home"><b>Home</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Skills"><b>Skills</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Projects"><b>Projects</b></md-button>
        <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Contact"><b>Contact</b></md-button>
      </nav> -->
      <div class="col-md-12" layout='row' layout-align="center start" style="text-align:center" >
      <md-button ui-sref='Skills' style="margin-right:75px;text-decoration:none;">
      <span id="skills" style="margin-right:25px;">
        <h3  style="font-size:20px;color:#00f0d2;height:175px;width:175px;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;">Skills</h3>
        <img height="110" style="margin-left:-44px;position:absolute;margin-top:-115px;z-index: 1;"src="/img/skills.png"/>
      </span></md-button>
      <md-button class="md-warn" ui-sref="Projects" style="margin-right:75px;text-decoration:none;">
      <span id="projects" style="margin-right:25px;">
        <h3 style="font-size:20px;color:#00f0d2;height:175px;width:175px;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;"> projects</h3>
        <img height="125" style="margin-left:-50px;position:absolute;margin-top:-125px;z-index: 1;"src="/img/projects.svg"/>
      </span></md-button>

      <md-button class="md-warn" ui-sref="Contact" style="margin-right:50px;text-decoration:none;"><span id="contact" style="margin-right:25px;">
        <h3  style="font-size:20px;color:#00f0d2;height:175px;width:175px;background-color:rgba(255,255,255,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;">contact</h3>
        <img height="105" style="margin-left:-45px;position:absolute;margin-top:-115px;z-index: 1;"src="/img/contact.png"/>
      </span></md-button>
    </div>
    </div>
    <!-- <div flex='60'>
      <h1>The Car Dealership Database</h1>
      <div style="text-align:center">
        <md-content>
          <md-button class="md-raised md-primary" ui-sref="AddCar"> Add New Car</md-button>
        </md-content>
      </div>
  <div ng-repeat="NewCar in vm.dealership">
    <md-card>
      <img ng-src="{{NewCar.pic}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Icon action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="form-inline" >
          <h3> {{NewCar.make}} </h3>
          <h3> {{NewCar.model}} </h3>
          <h3> {{NewCar.year}} </h3>
          <md-button type="button" class="md-raised md-warn" ng-click='vm.deleteCar(NewCar._id)'>Delete</md-button>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div> -->
</div>

</div>
</div>
