<divng-controller="MainAngController as vm" style="margin-bottom:0;">
  <div class="container-fluid">
  	<div class="row">
      <!-- social links -->
  		<div class="col-md-12" style="margin-top:-20px;">
  			<span class="text-center text-info">
          <a href="https://github.com/M-Doja">
            <img style='margin:25px;text-decoration:none;' height='75px' src='/img/github-social.png' target="_blank" alt="Github-icon">
          </a>
          <a href="https://www.linkedin.com/in/micahdunson">
            <img style='margin:25px;text-decoration:none;' height='90px' src='/img/linkedIn-social.png'target="_blank"  alt="LinkedIn-icon">
          </a>
  			</span>
  		</div>
  	</div>
    <!-- Splash Section -->
  	<div class="row">
  		<div class="col-md-12">
  			<h1 class="text-center" style="margin-top:150px"id="myName">
  				M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
  			</h1>
  			<p>
  				<strong style="color:#00f0d2">&copy 2016 Phoja Unlimited LLC</strong>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12"style="margin-top:60px;">
  			<h2 id="title"class="text-center">
  				<span style="color:#00f0d2;"><</span> Front End Developer <span style="color:#00f0d2;">/</span> Designer <span style="color:#00f0d2;">></span>
  			</h2>
  		</div>
  	</div>
    <!-- Nav Links -->
    <div class="row">
  		<div class="col-md-12" style="text-align:center;margin-bottom:20px;margin-top:30px;">
  			<div class="row">

          <div class="col-md-4">
  				<div   style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(0,0,0,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Skills' style="margin-right:75px;text-decoration:none;">
              <span id="skills" style="margin-right:25px;text-align:center;">
                <h4 style="margin-top:-30px;margin-bottom:80px;color:white">Skills</h4>
                <img height="90" style="margin-left:5px;position:absolute;margin-top:-75px;z-index: 1;"src="/img/skills.png"/>
              </span>
            </a>
  				</div>
        </div>
          <div class="col-md-4">
          <div    style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(0,0,0,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Projects' style="margin-right:75px;text-decoration:none;">
              <span id="projects" style="margin-right:25px;text-align:center;">
                <h4 style="margin-top:-30px;margin-bottom:80px;color:white">Projects</h4>
                <img height="90" style="margin-left:5px;position:absolute;margin-top:-75px;z-index: 1;"src="/img/projects.svg"/>
              </span>
            </a>
  				</div>
        </div>
          <div class="col-md-4">
          <div style="font-size:20px;color:#00f0d2;height:175px;width:175px;display:inline-block;background-color:rgba(0,0,0,0.3);border:5px solid white;position:relative;border-radius:50%;margin-bottom:-10px;padding-top:20px;margin-top:75px;">
            <a ui-sref='Contact' style="margin-right:75px;text-decoration:none;">
              <span id="contact" style="margin-right:25px;text-align:center;">
                <h4 style="margin-top:-30px;margin-bottom:80px;color:white">Contact</h4>
                <img height="90" style="margin-left:5px;position:absolute;margin-top:-75px;z-index: 1;"src="/img/contact.png"/>
              </span>
            </a>
  				</div>
        </div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
