
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center" id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
        M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
      </a></h1>
      <p>
        <strong style="color:#00f0d2">&copy 2016 Phoja Unlimited LLC</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="margin-bottom:20px;">
      <h2 id="title"class="text-center">
        <span style="color:#00f0d2;"><</span> Front End Developer <span style="color:#00f0d2;">/</span> Designer <span style="color:#00f0d2;">></span>
      </h2>
    </div>
  </div>
	<div class="row">
		<div class="col-md-12" style="color:white;margin-top:-40px;margin-top:-60px;">
			<div class="row">
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content id=''>
                    <img height='125' src='/img/Coder-Net-Splash.jpg'/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>Coder-Net</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="7"  >
					            <md-item style="color:black;">
												<!-- <span style="text-align:right;background-color:lightblue;font-size:15px;">{{s.state}}</span><br>
												<md-button style='color:black;' href="">  Select a law category: </md-button><br>
					              <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button> -->
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content id=''>
                    <img height='125' src='/img/IMDB-HmPg.jpg'/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>Movie Zone</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="7"  >
					            <md-item style="color:black;">
												<!-- <span style="text-align:right;background-color:lightblue;font-size:15px;">{{s.state}}</span><br>
												<md-button style='color:black;' href="">  Select a law category: </md-button><br>
					              <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button> -->
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content id=''>
                    <img height='125' src="/img/Trav-HpPg.PNG"/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>TravState</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="7"  >
					            <md-item style="color:black;">
												<!-- <span style="text-align:right;background-color:lightblue;font-size:15px;">{{s.state}}</span><br>
												<md-button style='color:black;' href="">  Select a law category: </md-button><br>
					              <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button> -->
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content id=''>
                    <iframe width="250" height="120" src="https://www.youtube.com/embed/LQWriOmZIxQ" frameborder="0" allowfullscreen></iframe>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>More Info</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="7"  >
					            <md-item style="color:black;">
												<!-- <span style="text-align:right;background-color:lightblue;font-size:15px;">{{s.state}}</span><br>
												<md-button style='color:black;' href="">  Select a law category: </md-button><br>
					              <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button> -->
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>

        <md-button ui-sref='Contact'class="md-raised md-default"style="margin-top:20px;margin-bottom:20px;Width:600px;font-size:2em;">Contact me here    >></md-button>
			</div>
		</div>
	</div>
</div>
