
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 animated  slideInDown" style="animation-duration: 5s;animation-delay: 1s;">
      <h1 id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
        M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
      </a></h1>
      <p style="">
        <strong style="color:rgb(68,186,250);margin-left:325px;">&copy 2016 Phoja Unlimited LLC</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 animated  slideInDown" style="margin-bottom:20px;animation-duration: 5s;animation-delay: 1s;">
      <h2 id="title">
        <span style="color:rgb(68,186,250);"><</span> Front End Developer <span style="color:rgb(68,186,250);">/</span> Designer <span style="color:rgb(68,186,250);">></span>
      </h2>
    </div>
  </div>
	<div class="row">
		<div class="col-md-12 animated  slideInUp" style="color:white;margin-top:-40px;margin-top:-60px;animation-duration: 5s;animation-delay: 1s;">
			<div class="row">
				<div class="col-md-3">

          <!-- CODER-NET -->
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content style="background-color:rgba(0,0,0,0.3)" id=''>
                    <img height='100' src='/img/Coder-Net-Splash.jpg'/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>Coder-Net</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="5"  >
					            <md-item style="color:black;">

                        <p style="font-family:sans-serif" id='CoderNetBio'>
                          <h3 style="color:black;">Coder Net</h3>
                          <p><b>Built using:</b> HTML, CSS, JavaScript, Angular, Express, Node and Mongo Database</p>
                          <img id="CN-pic" style="margin:25px;"height='200' src='/img/Coder-Net-Splash.jpg'/>
                          <img id="CN-pic" style="margin:25px;" height='200' src='/img/Coder-Net-Login.jpg'/><br>
                          <span style="margin:100px;"id='projTitle'>Coder Net Splash</span>
                          <span style="margin:100px;"id='projTitle'>Coder Net Pic Login</span><br>
                          <img id="CN-pic" style="margin:25px;" height='200' src='/img/Coder-Net-HmPg.jpg'/>
                          <img id="CN-pic" style="margin:25px;" height='200' src='/img/Coder-Net-Forum.jpg'/><br>
                          <span style="margin:125px;" id='projTitle'>Coder Net Home</span>
                          <span style="margin:125px;" id='projTitle'>Coder Net Forum</span>
          								<a href='http://coder-net.herokuapp.com/'target='_blank' style="color:black"><h1 style="text-align:center;margin-bottom:20px;">Coder-Net</h1></a>
                          <span style="color:#ab4312;"><b>The Problem:</b></span> Most new programmers lack the skills or experience to get a job right out of school.<br><br>
        								<span style="color:#00f0d2;"><b>The Solution:</b></span> I worked on a team for Coder Camp to design a social media style application that would help the user be able to get both more skills and possibly experience thru partnered projects, forums, community networking, and resources for jobs and programming. This project was built utilizing the MEAN stack (Angular, Express, Node, and Mongo DB), and designed with Angular Material. I was in charge of implementing file uploads, email verification, backend debugging, layout, styling and functionality of forums and user profile states. </p>

					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>

        <!-- MOVIE ZONE -->
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content style="background-color:rgba(0,0,0,0.3)" id=''>
                    <img height='100' src='/img/IMDB-HmPg.jpg'/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>Movie Zone</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="5"  >
					            <md-item style="color:black;">
                        <p style="font-family:sans-serif" id='CoderNetBio'>
                          <h3 style="color:black;">Movie Zone</h3>
                          <p><b>Built using:</b> HTML, CSS, JavaScript, AJAX, and Firebase</p>
                          <img id="CN-pic" style="margin:25px;"height='200' src='/img/IMDB-login.PNG'/>
                          <img id="CN-pic" style="margin:25px;" height='200' src='/img/IMDB-HmPg.jpg'/><br>
                          <span style="margin:100px;"id='projTitle'>Movie Zone Login</span>
                          <span style="margin:100px;"id='projTitle'>Movie Zone Home </span><br>
          								<!-- <a href='http://movie-zone.herokuapp.com/'target='_blank' style="color:black"> -->
                            <h1 style="text-align:center;margin-bottom:20px;">Movie Zone</h1>
                          <!-- </a> -->
                          <span style="color:#ab4312;"><b>The Problem:</b></span>For people who have large collections of movies, remebering what movie you own can be difficult at times.<br><br>
        								<span style="color:#00f0d2;"><b>The Solution:</b></span> I designed this for a client who needed a way to organize their personal movie collection. The application is very  simple, the user simply adds a the movie information and is able to view their personal collection similiar to the IMDB database. This project was built using Javascript, Bootstrap, AJAX, and Firebase for the database.</p>

					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>

        <!-- TRAVSTATE -->
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content style="background-color:rgba(0,0,0,0.3)" id=''>
                    <img height='100' src="/img/Trav-HpPg.PNG"/>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>TravState</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="5"  >
					            <md-item style="color:black;">
                        <p style="font-family:sans-serif" id='CoderNetBio'>
                          <h3 style="color:black;">TravState</h3>
                          <p><b>Built using:</b> HTML, CSS, JavaScript, and Jquery</p>
                          <img id="CN-pic" style="margin:25px;min-height:100%"height='200' src='/img/Trav-HmSt.PNG'/>
                          <img id="CN-pic" style="margin:25px;" height='200' src='/img/Trav-About.PNG'/><br>
                          <span style="margin:100px;"id='projTitle'>TravState Home</span>
                          <span style="margin:100px;"id='projTitle'>TravState About </span><br>
          								<a href='https://travstate.herokuapp.com'target='_blank' style="color:black"><h1 style="text-align:center;margin-bottom:20px;">TravState</h1></a>
                          <span style="color:#ab4312;"><b>The Problem:</b></span>The Problem:</b></span> If you are travelling or perhaps moving your business to another state that you are unfamiliar with it can be difficult to find accurate online legal resources for each state on a single site.<br><br>
        								<span style="color:#00f0d2;"><b>The Solution:</b></span> TravState provides a single location to get up to date legal information on specific areas of law as well as state demogrphic information. All on one site!!.</p>
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>

        <!-- MIC DOJA MUSIC -->
				<div class="col-md-3">
          <md-content style="text-align:center;background-color:rgba(255,255,255,0.3);margin:20px auto">
						    <md-card>
									<!-- Project Image -->
						      <md-card-content style="background-color:rgba(0,0,0,0.3)"id=''>
                    <iframe width="210" height="95" src="https://www.youtube.com/embed/LQWriOmZIxQ" frameborder="0" allowfullscreen></iframe>
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>More Info</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="5">
					            <md-item style="color:black;">
                        <p id='MusicBio'><h3 style="color:tan">Mic Doja Music</h3><span style="color:#ab4312;"><b>The Problem:</b></span> People are always looking for good music but a lot of musicians don't offer the variety that people want. <br><br>
          							<span style="color:#00f0d2;"><b>The Solution:</b></span> I started music production in 1993. Since that time period I have produced a variety of music on a variety of topics. I've partnered up with promotional company Groove International and have since sold over thousands of copies of my music all over the world. </p>
                        <div class="col-md-12" id='YoutubeDiv'style="text-align:center;">
            							<iframe style="margin:0 auto;padding-top:45px;"class='img img-responsive' width="520" height="415" src="https://www.youtube.com/embed/LQWriOmZIxQ" frameborder="0" allowfullscreen></iframe>
            							<p style="color:black;margin-bottom:100px;">Follow <a href='https://www.facebook.com/Mic-Doja-Music-157293924309139/' target='_blank'>Mic Doja Music</a> on social media!</p>
            						</div>

					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>
				</div>

        <md-button ui-sref='Contact'class="md-raised md-default"style="margin-top:50px;margin-bottom:20px;Width:350px;font-size:2em;">Contact me here    >></md-button>
			</div>
		</div>
	</div>
</div>
