
<div class="container-fluid">

    <div class="row">
  		<div class="col-md-12">
  			<h1 class="text-center" id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
  				M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
  			</a></h1>
  			<p>
  				<strong style="color:#00f0d2">&copy 2016 Phoja Unlimited LLC</strong>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<h2 id="title"class="text-center">
  				<span style="color:#00f0d2;"><</span> Front End Developer <span style="color:#00f0d2;">/</span> Designer <span style="color:#00f0d2;">></span>
  			</h2>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-12">


      <!-- computer screen display -->
  		<div class="col-md-6">
        <span style="text-align:center;background-color:white;border-radius:10%;width:480px;height:400px;">
          <div style="margin:0 auto;background-color:white;width:480px;height:400px;mmargin-top:5px;">


            <img style='margin-left:-90px;margin-top:-10px;' src="/img/laptop.png"/>


            <p style='margin-top: -400px;color:red;font-size:1.3em;' ><a ng-show='vm.seeFront' ng-click='vm.FrontBadge()'>Click to See Front End Skills</a></p>
            <p style='margin-top:-3px;color:red;font-size:1.3em;' href='#'><a ng-show='vm.seeBack' ng-click='vm.BackBadge()'>Click to See Back End Skills</a></p>
            <p ng-show='vm.start' style='margin-top:-3px;color:red;font-size:1.3em;' href='#'>Click to start program and see skills.<br><br> <button  ng-click='vm.startProg()'>Start </button></p>
            <p style='margin-bottom:-175px;margin-top:155px;color:red;font-size:1.3em;' href='#'><a ng-show='vm.goBack' ng-click='vm.quit()'>Quit Program</a></p>
            <!-- frontend -->
            <p ng-show='vm.Front'>Html / CSS / JavaScript = 3yrs exp<br> Jquery / WordPress = 2yrs exp<br>Angular / Meteor = 1yr exp </p>
            <img ng-show='vm.Front' height="50"src="/img/HTML5_badge.png"/>
            <img ng-show='vm.Front' height="50"src="/img/CSS3_badge.png"/>
            <img ng-show='vm.Front' height="50"src="/img/Javascript_badge.png"/>
            <img ng-show='vm.Front' height="50"src="/img/JQurery_badge.jpg"/>
            <img ng-show='vm.Front' height="50"src="/img/WordPress_badge.png"/>
            <img ng-show='vm.Front' height="50"src="/img/Angular_badge.png"/>
            <img ng-show='vm.Front' height="50"src="/img/Meteor_badge.png"/>

            <!-- backend -->
            <p ng-show='vm.Back'>Node / Express / Mongo = 1yr exp </p>
            <img ng-show='vm.Back' height="50"src="/img/Node_badge.png"/>
            <img ng-show='vm.Back' height="50"src="/img/Expressjs_badge.png"/>
            <img ng-show='vm.Back' height="50"src="/img/Mongo_badge.png"/>

          </div>
        </span>
  		</div>
      <div class="col-md-6" style="background-color:rgba(0,0,0,0.7);text-align:center;padding:-20px;margin-top:75px;">
        <p style="color:white;font-size:1.3em;margin-top:20px;padding-top:-20px;"><strong>Front end</strong> is my strong side and i enjoy working with new technologies and frameworks,but I still love getting my hands dirty in the back end as well.</p>
        <p style="color:white;font-size:1.3em;margin-top:20px;padding-bottom:20px;"><strong>Back end</strong> is another area I am familiar with. I find having the ability to build a project from front to back and connect to a database provides for smoother UX for the user.</p>
			</div>
      <md-button ui-sref='Projects'class="md-raised"style="margin-top:40px;">Check Out My Projects >></md-button>
    </div>
    </div> <!--end of row-->
	</div>
</div>
