<div>
  <h1 ui-sref="Home" style="color:white;text-align:center;font-size:5.5em;margin-top:380px;margin-bottom:-10px;"><b>Micah Dunson</b></h1>
  <p style="text-align:center;margin-left:370px;font-size:15px;color:white;">&copy 2016 Phoja Unlimited LLC</p>
  <p style="color:#00f0d2;font-size:30px;"><b>< Front End Developer > </b></p>
  <nav style="margin-top:-5px; text-align:center;padding:10px;font-size:1.5em;">
    <!-- <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Home"><b>Home</b></md-button> -->
    <!-- <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Skills"><b>Skills</b></md-button> -->
    <!-- <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Projects"><b>Projects</b></md-button> -->
    <!-- <md-button class="md-default"style='color:white;width:200px;font-size:1.3em' ui-sref="Contact"><b>Contact</b></md-button> -->
    <!-- <a href="#" class="btn btn-primary btn-lg">Home</a>
    <a href="#skills" class="btn btn-success btn-lg">About</a> -->

  </nav>
  <div class="col-md-12" layout='row' layout-align="center start" style="text-align:center">
<!-- #1 -->
<div class="col-md-4">
  <div ui-sref='Skills' style="margin-top:5px;text-decoration:none;">
    <div style="margin-bottom:-435px;">
      <img  style="border-radius:10%; margin-top:45px;margin-left:-30px;" height="215"src="/img/photo (2)test.jpg"/>
      <h4 style="color:white"><b>I'm a full-stack JavaScript<br> developer</h4>
      <p style="color:white;font-size:18px;background-color:black;width:350px;text-align:center;margin-left:10px;">I enjoy a hiking, coding, music and<br> using new technologies. These are<br> some of my skills!</p>
    </b></div>
    <span id="skills">
      <h3  style="font-size:20px;color:#00f0d2;height:420px;width:375px;background-color:rgba(0,0,0,0.3);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-40px;padding-top:20px;"></h3>
      <!-- <img height="110" style="margin-left:-44px;position:absolute;margin-top:-115px;z-index: 1;"src="/img/skills.png"/> -->
    </span>
  </div>
</div>
  </div>
<!-- #2 -->
<div class='col-md-12' layout='row' layout-align="center start" style="text-align:center;margin-top:-400px;">
  <h2 style="color:#00f0d2;margin-bottom:20px;margin-left:125px; width:300px;">FrontEnd</h2><br>
  <div style="margin-top:50px;margin-left:-395px;margin-right:5px;text-decoration:none;">
    <span id="skills">
      <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">HTML5</h3>
      <img height="80" style="margin-left:-40px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/HTML5_badge.png"/>
      <h4 style="color:#00f0d2;margin-top:-40px;" >3 yrs</h4>
    </span>
  </div>
  <!-- #3 -->
    <div style="margin-top:50px;margin-right:5px;text-decoration:none;">
      <span id="skills">
        <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">CSS3</h3>
        <img height="80" style="margin-left:-30px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/CSS3_badge.png"/>
        <h4 style="color:#00f0d2;margin-top:-40px;" >3 yrs</h4>
      </span>
    </div>
    <!-- #4 -->
      <div style="margin-top:50px;margin-right:5px;text-decoration:none;">
        <span id="skills">
          <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">JavaScript</h3>
          <img height="90" style="margin-left:-50px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/Javascript_badge.png"/>
          <h4 style="color:#00f0d2;margin-top:-40px;" >3 yrs</h4>
        </span>
      </div>
      <!-- #5 -->


      <div class='col-md-12' layout='row' layout-align="center start" style="text-align:center;margin-left:-822px;margin-top:50px">
        <div style="margin-right:5px;text-decoration:none;margin-top:175px;">
          <span id="skills" style="margin-bottom:10px">
            <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;margin-top:40px;">Jquery</h3>
            <img height="80" style="margin-left:-40px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/jQurery_badge.jpg"/>
            <h4 style="color:#00f0d2;margin-top:-40px;" >2 yrs</h4>
          </span>
        </div><br>
        <!-- #6 -->
          <div style="margin-top:5px;margin-right:5px;text-decoration:none;margin-top:175px;">
            <span id="skills">
              <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;margin-top:40px;">Angular</h3>
              <img height="80" style="margin-left:-40px;position:absolute;margin-top:-120px;z-index: 1;"src="img/Angular_badge.png"/>
              <h4 style="color:#00f0d2;margin-top:-40px;" >1 yr</h4>
            </span>
          </div>
      <!-- #7 -->
        <div style="margin-top:5px;margin-right:5px;text-decoration:none;margin-top:175px;">
          <span id="skills">
            <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.5);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;margin-top:40px;">Word Press</h3>
            <img height="70" style="margin-left:-53px;position:absolute;margin-top:-100px;z-index: 1;"src="/img/WordPress_badge.png"/>
            <h4 style="color:#00f0d2;margin-top:-40px;" >2 yrs</h4>
          </span>
        </div>
      </div>
      <!-- #8 -->
      <h2 style="color:#00f0d2;margin-bottom:20px;margin-right:-1000px; width:300px;">BackEnd</h2>
      <div class='col-md-12' layout='row' layout-align="center start" style="text-align:center;margin-top:0px;">
        <div style="margin-top:50px;margin-left:740px;margin-right:5px;text-decoration:none;">
          <span id="skills">
            <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">Express</h3>
            <img height="70" style="margin-left:-55px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/Expressjs_badge.png"/>
            <h4 style="color:#00f0d2;margin-top:-40px;" >1 yr</h4>
          </span>
        </div>
        <!-- #9 -->
          <div style="margin-top:50px;margin-right:5px;text-decoration:none;">
            <span id="skills">
              <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">Node</h3>
              <img height="80" style="margin-left:-40px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/Node_badge.png"/>
              <h4 style="color:#00f0d2;margin-top:-40px;" >1 yr</h4>
            </span>
          </div>
          <!-- #10 -->
            <div style="margin-top:50px;margin-right:5px;text-decoration:none;">
              <span id="skills">
                <h3  style="font-size:20px;color:#00f0d2;height:175px;width:135px;background-color:rgba(0,0,0,0.7);border:5px solid white;position:relative;border-radius:10%;margin-bottom:-10px;padding-top:10px;">Mongo</h3>
                <img height="80" style="margin-left:-40px;position:absolute;margin-top:-120px;z-index: 1;"src="/img/Mongo_badge.png"/>
                <h4 style="color:#00f0d2;margin-top:-40px;" >1 yr</h4>
              </span>
            </div>
          </div>
        </div>





</div>

<!-- <a href="#about" class="btn btn-success btn-lg">About</a>
<a href="#contact" class="btn btn-danger btn-lg">Contact</a> -->
