
<div class="container-fluid">

    <div class="row">
  		<div class="col-md-12">
  			<h1 class="text-center" id="myName"><a style="text-decoration:none;color:white;"ui-sref='Home'>
  				M<span>i</span>c<span>a</span>h <span>D</span>u<span>n</span>s<span>o</span>n
  			</a></h1>
        <p style="">
          <strong style="color:rgb(68,186,250);margin-left:30px;">&copy 2016 Phoja Unlimited LLC</strong>
        </p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<h2 id="title"class="text-center">
  				<span style="color:rgb(68,186,250);"><</span> Front End Developer <span style="color:rgb(68,186,250);">/</span> Designer <span style="color:rgb(68,186,250);">></span>
  			</h2>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-12">


      <!-- computer screen display -->
      <!-- computer screen display -->
     <div class="col-md-6 animated  slideInLeft" style="animation-duration: 3s;animation-delay: 1s;">
       <span style="text-align:center;background-color:white;border-radius:10%;width:480px;height:400px;">
         <!-- COMPUTER SCREEN BACKGROUND -->
         <div style="margin:0 auto;background-color:black;width:480px;height:400px;mmargin-top:5px;">


           <img style='margin-left:-90px;margin-top:-10px;' src="/img/laptop.png"/>


           <p style='margin-top: -400px;color:red;font-size:1.3em;' ><a ng-show='vm.seeFront' ng-click='vm.FrontBadge()'>Click to See Front End Skills</a></p>
           <p style='margin-top:-3px;color:red;font-size:1.3em;' href='#'><a ng-show='vm.seeBack' ng-click='vm.BackBadge()'>Click to See Back End Skills</a></p>
           <p ng-show='vm.start' style='margin-top:-3px;color:rgb(50,240,13);font-size:1.3em;' href='#'>Click to start program and see skills.<br><br> <button style='color:red' ng-click='vm.startProg()'>Start </button></p>
           <p style='margin-bottom:-175px;margin-top:155px;color:red;font-size:1.3em;' href='#'><a ng-show='vm.goBack' ng-click='vm.quit()'>Quit Program</a></p>

           <img ng-show='vm.start' class="animated infinite flash" height="10" style="margin-top:-105px;margin-right:325px;animation-duration: 2s;"src="/img/green.jpg"/>
           <!-- frontend -->
           <p style="color:rgb(50,240,13)" ng-show='vm.Front'>Html / CSS / JavaScript = 3yrs exp<br> Jquery / WordPress = 2yrs exp<br>Angular / Meteor = 1yr exp </p>
           <img ng-show='vm.Front' height="50"src="/img/HTML5_badge.png"/>
           <img ng-show='vm.Front' height="50"src="/img/CSS3_badge.png"/>
           <img style="margin-top:20px;"ng-show='vm.Front' height="50"src="/img/Javascript_badge.png"/>
           <img ng-show='vm.Front' height="50"src="/img/jQurery_badge.jpg"/>
           <img ng-show='vm.Front' height="50"src="/img/WordPress_badge.png"/>
           <img ng-show='vm.Front' height="50"src="/img/Angular_badge.png"/>
           <img ng-show='vm.Front' height="50"src="/img/Meteor_badge.png"/>

           <!-- backend -->
           <p style="color:rgb(50,240,13)" ng-show='vm.Back'>Node / Express / Mongo = 1yr exp </p>
           <img ng-show='vm.Back' height="50"src="/img/Node_badge.png"/>
           <img ng-show='vm.Back' height="50"src="/img/Expressjs_badge.png"/>
           <img ng-show='vm.Back' height="50"src="/img/Mongo_badge.png"/>

         </div>
       </span>
     </div>

      <div class="col-md-6 animated  slideInDown" style="background-color:rgba(0,0,0,0.7);text-align:center;padding:-20px;margin-top:75px;animation-duration: 3s;animation-delay: 1s;">
        <p style="color:white;font-size:1.3em;margin-top:20px;padding-top:-20px;"><strong>Front end</strong> is my strong side and I enjoy working with new technologies and frameworks,but I still love getting my hands dirty in the back end as well.</p>
        <p style="color:white;font-size:1.3em;margin-top:20px;padding-bottom:20px;"><strong>Back end</strong> is another area that I'm familiar with. I find having the ability to build a project from front end to back end provides a lot of flexibility when building out projects and ideas.</p>
			</div>
      <md-button ui-sref='Projects'class="md-raised animated  slideInUp"style="margin-top:40px;animation-duration: 3s;animation-delay: 1s;">Check Out My Projects >></md-button>
    </div>
    </div> <!--end of row-->
	</div>
</div>
